[tool.poetry]
name = "gridstatusio"
version = "0.7.0"
readme = "README.md"
description = "Python Client for GridStatus.io API"
classifiers = [
    "Programming Language :: Python",
    "Programming Language :: Python :: 3",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3.11",
    "Programming Language :: Python :: 3.12",
]
authors = [
    "Max Kanter <kmax12@gmail.com>"
]
maintainers = [
    "Max Kanter <kmax12@gmail.com>"
]
keywords = ["energy", "independent system operator"]
license = "LICENSE"

[tool.poetry.urls]
"Source Code"= "https://github.com/kmax12/gridstatusio/"
"Issue Tracker" = "https://github.com/kmax12/gridstatusio/issues"

[tool.poetry.dependencies]
python = ">=3.9, <4"
requests = "^2.28.1"
numpy = "^1.26.4"
pandas = ">1.3.0"
tqdm = "^4.64.1"
termcolor = "1.1.0"
tabulate = "^0.9.0"

[tool.poetry.group.dev.dependencies]
pytest = "7.1.2"
pytest-xdist = "3.0.2"
pytest-rerunfailures = "10.3"
pre-commit = "2.21.0"
plotly = "^5.11.0"
kaleido = "0.2.1"
nbformat = "5.1.3"
ruff = "^0.5.0"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.pytest.ini_options]
testpaths = ["gridstatusio/tests/*"]
markers = [
    "slow: marks tests as slow (deselect with '-m \"not slow\"')",
]

[tool.ruff]
line-length = 88
lint.ignore = []
lint.select = [
    # Pyflakes
    "F",
    # Pycodestyle
    "E",
    "W",
    # flake8-quotes
    "Q",
    # isort
    "I001"
]
src = ["gridstatusio"]

[tool.ruff.lint.isort]
known-first-party = ["gridstatusio"]

[tool.ruff.lint.per-file-ignores]
"__init__.py" = ["F401", "E402", "F403", "F405", "E501", "I001"]
